.App {
  text-align: center;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
    vertical-align: middle;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inputText:focus {

  box-shadow: none;
}
input[type="date"]:focus {

  box-shadow: none;
}
.select-tag:focus{
  box-shadow: none;
}
.form-label {
    margin-left : 13px;
    font-weight: bold;
    font-size: 15px;
  }

  .form-check-input{
    margin-left: 8px;
    font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  }

  input[type="checkbox"]:focus{
      box-shadow: none;

  }